html,
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLT-Heavy",Helvetica,Arial,sans-serif;
  color: #000 !important;
}

main{
  top:0;
  position: absolute;
}

.container {
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 576px && max-width: 767px){
.container {
    max-width: 540px;
}
}

@media (min-width: 768px && max-width: 991px){
.container {
    max-width: 720px;
}
}

@media (min-width: 992px && max-width: 1199px){
.container {
    max-width: 960px;
}
}


@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}







a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero_carousal{
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	color: #5a646c; 
  	padding-bottom: 0px !important;
  	}

.hero_carousal .slick-dots{
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    position: absolute;
  	height:10px;
  	margin: auto;
  	width:83%;
	}


.hero_carousal h1 {
    font-family: "HelveticaNeueLT-Heavy",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1em;
    text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
    color: #fff; 
	}

.hero_carousal h2 {
    font-family: "HelveticaNeueLT-Heavy",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1em;
    text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
    color: #fff; 
	}
  
.hero_carousal p {
    margin: 30px 0;
    font-size: 26px;
    line-height: 1.5;
    text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
    color: #fff; 
	}
  
.hero_carousal a {
    font-size: 0.8rem;
    padding: 15px 30px;
    line-height: 1;
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
    font-weight: bold;
    background: transparent; 
    border-radius: 0; 
	}
    
.hero_carousal a:hover {
    color: #5a646c;
    background: white;
    text-shadow: none;
    transition: all .4s; 
  	}


@media (max-width: 991.98px) {
  	.hero_carousal p {
    	font-size: 21px;
    	margin: 0 0 10px; }
  	.hero_carousal a {
    	font-size: 14.7px;
    	padding: 15px; }
  	.hero_carousal > h1 {
    	font-size: 1.8rem; }
  	.hero_carousal > h1 {
    	margin: 0;
    	font-size: 1.8rem; }
  	.hero_carousal > h2 {
    	font-size: 1.5rem;
    	margin-bottom: 13px; }
  	
      .hero_carousal img{
        min-height: 400px;
        object-fit: cover;
        object-position: top;

      }
    }

@media (max-width: 767.98px) {

	.hero_carousal p {
    	font-size: 16px; 
      text-align: center; }
  	.hero_carousal h1 {
    	margin: 0 auto 0.5rem;
    	font-size: 1.3rem;
    	max-width: 250px;
      }
  	.hero_carousal p {
    	margin: 0 auto 1rem;
    	max-width: 240px; }
 
  	.hero_carousal h1 {
    	font-size: 25px;
    	text-align: center;
    	margin: -130px 0 0 0; }
  	.hero_carousal h1 {
    	font-size: 1rem;
	    text-align: center;
    	max-width: 300px;
    	margin: 0 auto 20px; }

      .hero_carousal .hero_button{
        text-align: center;
      }

  	}


 .hero_carousal li.slick-active button:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 1px solid rgba(255,255,255,.75);
    background-color: transparent;
    opacity: 1;
    margin: 0 10px;
    background-color: rgba(255,255,255,.75);
}

.hero_carousal li.slick-active button:focus {

	border: none;
	
	}

	.hero_carousal li button:focus {

	border: none;
	border: transparent;

	}


.hero_carousal li button:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 1px solid rgba(255,255,255,.75);
    background-color: transparent;
    opacity: 1;
    margin: 0 10px;
}


.hero_carousal .carousal-data{
	width: 81%;
    height: 100%;
    max-width: 2048px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

@media (min-width: 767.98px) {

.hero_carousal .carousal-data>div{
	top: 120px;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 70%;
    left:0;
}

}

@media (max-width: 767.98px) {

.hero_carousal .carousal-data>div{
  top: 120px;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 70%;
 
}

}

.hero_carousal .slick-dots button{
	border:none;
}

.hero_carousal .slick-slide figure img{
	margin-bottom: 0px !important;
  object-fit: cover;
  max-height: 593px;
  object-position: top;
}

@media (max-width: 767.98px) {

.hero_carousal .slick-dots{
  justify-content: center;
}
}




.site-header {
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 1
}

.site-header>div{
background: none;
}

.site-header nav{
background-color: transparent !important;
}

.site-header .company-logo{
  padding: 1.2em;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff !important;
}

.site-header,
.site-header a {
  color: #fff;
  font-weight: 700;
}


.navbar a {
    color: #323e48;
    font-size: 15px;
    font-weight: 400;
    font-family: HelveticaNeueW01-75Bold,Helvetica,Arial,sans-serif;
  }

.site-header nav a:hover {
  color: #72767B;
}
.homepage .site-header,
.homepage .site-header a {
  color: #fff;
}
.homepage .site-header nav a:hover {
  color: #fff;
}
.site-header .logo {
  display: inline-block;
  font-size: 22px;
  font-weight: 900;
}
.site-header nav {
  z-index: 100;
  position: sticky;
  color: #fff;
}
.site-header nav ul {
  margin: 0;
  padding-left: 15px;
}
.site-header nav li {
  display: inline-block;
  margin-left: 40px;
}
.site-header nav li:first-child {
  display: inline-block;
  margin-left: 0px;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}

@media screen and (min-width: 860px){
.site-header{
    padding: 0px 5%;
}
.site-header>div{
  padding: 0px;
}
}

@media screen and (max-width: 859px){
    .site-header{
    padding: 20px 5%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 501;
}
}

@media screen and (max-width: 992px){
.site-header .dropdown-menu{
  margin: 0px;
    background: none;
    border: none;
}

.site-header .dropdown-menu a{
    color: #fff;

} 

.site-header>div{
top: 0;
    position: fixed;
    padding-top: 0;
    width: 100%;
}

.site-header div img{
    padding-top: 1em;
}
}

@media screen and (max-width: 634px){
.site-header>div>div{
  display: flex;
}

.site-header>div>div>section{
  width: 35%;
}


}